# Игнорировать сборки и временные файлы
build/
dist/
node_modules/
coverage/

# Автоматически сгенерированные файлы
*.d.ts

# Файлы, которые мы не хотим форматировать
package-lock.json
yarn.lock

# Файлы документации
*.md